.noteBody {
    font-family: 'simsun', '宋体';
    font-size: 24px;
    line-height:130%;
    position:relative;
}
.noteBody h1
{
  font-size:90%;
  color:blue;
  font-weight:normal;
}

.noteBody h2
{
  font-size:80%;
}

.noteBody h3
{
  font-size: 13px;
  font-family: 'microsoft yahei','雅黑';
  color: #878787;
}

.noteBody p
{
  font-size:70%;
  max-width:70%;
  font-family:Verdana, Sans-Serif;
}

.noteBody ol
{
  list-style-position:inside;
}

.noteBody ol li
{
  font-size:60%; 
  border:1px inset #DDD;
  padding:5px;
}

.noteBody ul
{
  list-style-type:none;
}

.noteBody .alt
{
  background-color:#DDD;
}

.ClearFloats
{
  clear:both;
}

#footer
{
  width:100%;
  clear:both;
  padding:20px;
}

.Bottom
{
  width:100%;
  float:left;
}

.Board
{
  width:600px;
  padding:10px;
}
.Surface {
    position: relative;
}
.Basket
{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 220px;
  right: -10px;
}
.Basket img {
    padding: 20px 0 0 30px;
}

.Warning
{
  padding:10px;
  margin:10px;
  border:2px solid #DDD;
  text-align:center;
  font-family:'Comic Sans MS', cursive;
  background-color:#FFF;
  position:absolute;
  top:30px;
  right:0px;
  width:20%;
  height:auto;
  /* boxshadow */
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  /* Firefox 3.6 and earlier */   
  border-radius:15px;
 -moz-border-radius:25px;  
}
.Note
{
  width:170px;
  height:145px;
  position:relative;
  background-color:#FFCC33;
  padding: 20px 8px 10px 8px;
  margin: 10px 5px;
  float:left;
  text-align:center;
  cursor:move;
  font-family:'simsun','宋体', arial;
  font-size: 15px;
  line-height: 24px;
  word-wrap: break-word;
    /*Gradients */
    /*Firefox 3.6 */
    background-image:-moz-linear-gradient(#ead588, #fff2b3 13%);
    /* Safari 4+, Chrome 1+*/
    background-image:-webkit-gradient(linear, 0%, 0%, 0%, 13%, from (#ead588), to(#fff2b3));
    /* Safari 5.1+, Chrome 10+  */
    background-image:-webkit-linear-gradient(#ead588, #fff2b3 13%);
    /* Opera 11.10+ */
    background-image:-o-linear-gradient(#ead588, #fff2b3 13%);
  /* boxshadow */
  -webkit-box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2) inset;
}

.Note:before
{
  content:"";
  position:absolute;
  display:block;
  right:0;
  bottom:0;
  border-width:0 0 20px 20px;
  border-style:solid;
  border-top-color:#F7F7F7;
  border-right-color:#F7F7F7;
  border-left-color: #f5f595;
  border-bottom-color: rgb(252, 252, 252);
  /*box shadow in the curl*/
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.2);
}

.NotepadContainer
{
  width:200px;
  float:right;
  padding:5px;
  position: relative;
  margin-top: 10px;
}

.NotepadContainer p
{
  font-size:60%;
}

.Notepad
{
  width:110px;
  height:100px;
  position:relative;
  background-color:#fff2b3;
  padding-left:2px;
  padding-right:2px;
  padding-top:0px;
  /* boxshadow */
  -webkit-box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2) inset;
}

.BtnWriteNote
{
  margin:0 3px;
  position: absolute;
  right: 0;
  top: 0;
}
#content {
    overflow: visible;
}
.Help
{
    cursor:pointer;
    margin: 15px 0 0 -6px;
    text-indent: -9999px;
    background: url('../img/stickyNote/tips.png') no-repeat;
}

.Intro
{
  float:left;
  max-width:35%;
  border:1px solid #C4DEFF;
  padding:5px;
  margin: 5px;
  background-color: #DBECFF;
  /* Firefox 3.6 and earlier */
  border-radius:8px;
 -moz-border-radius:8px;
}
.Intro  a
{
  display:block;
  width:20px;
  text-indent: -9999px;
  float:right;
  background: url('../img/stickyNote/close.png') no-repeat;
  line-height: 100%;
}
.Intro ul {
    padding: 10px 5px 0 20px;
    list-style-type: circle;
}
.Intro li {
    margin: 0 0 10px 0;
    font-family: 'microsoft yahei','雅黑';
    font-size: 14px;
    color: #575757;
    line-height: 130%;
}